build --cxxopt='-std=c++17'
build --verbose_failures
build --show_result='10'
build --action_env=CC
build --action_env=CXX

test --keep_going
test --build_tests_only
test --test_output=errors
test --test_summary=detailed
test --action_env='GTEST_COLOR=1'
