build \
--cxxopt='-std=c++17' \
--cxxopt='-Werror' \
--cxxopt='-Wall' \
--cxxopt='-Wextra' \
--cxxopt='-Wnon-virtual-dtor' \
--cxxopt='-Wold-style-cast' \
--cxxopt='-Wcast-align' \
--cxxopt='-Wunused' \
--cxxopt='-Woverloaded-virtual' \
--cxxopt='-Wpedantic' \
--cxxopt='-Wconversion' \
--cxxopt='-Wsign-conversion' \
--cxxopt='-Wdouble-promotion' \
--cxxopt='-Wformat=2' \

